#comments-page {
	margin: 5px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	/* flex-grow: 1;
	flex-shrink: 1; */
	height: 100%
}

#comment-content {
	margin: 10px;

}

#comment-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	gap: 20px;
}

.comment-list {
	display: block;
	flex-grow: 1;
	flex-shrink: 1;
}