.meal-plan-div {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.meal-plan-div>h1 {
	font-size: 32px;
}

.weekly-calendar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;

	flex-grow: 0;
	flex-shrink: 1;
}

.weekly-calendar>i {
	width: var(--calendar-scroll-button-width);
	font-size: 32px;
	text-align: center;
}

.weekly-calendar>i:hover {
	background-color: #bfbfbf;
	cursor: pointer;
}

.meal-plan-day {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	/* height: 100%; */
	padding: 8px;
	overflow-y: scroll;
}

.meal-plan-day>h1 {
	font-size: 24px;
}

.meal-plan-day>h2 {
	font-size: 16px;
}

.meal-card-div>h1 {
	font-size: 16px;
}