.meal-plan-div {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.month-banner {
	/* font-size: 32px; */
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
	/* display: inline; */
	display: flex;
	justify-content: center;
}

.month-banner>h1 {
	font-size: 32px;
	display: inline;
}

.month-banner>input {
	/* justify-self: flex-end; */
	position: absolute;
	/* margin-left: auto; */
	top: 0;
	right: 0;
	display: inline;
}

.weekly-calendar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;

	/* height: 100%; */
	flex-grow: 1;
	flex-shrink: 1;
}

.weekly-calendar>i {
	width: var(--calendar-scroll-button-width);
	font-size: 32px;
	text-align: center;
}

.weekly-calendar>i:hover {
	background-color: #bfbfbf;
	cursor: pointer;
}

.meal-plan-day {
	flex-grow: 1;
	flex-shrink: 1;
	padding: 8px;
}

.meal-plan-day>h1 {
	font-size: 16px;
}